body {
    margin: 0;
    padding: 0;
}

#topNav {
    height: 60px;
    margin: 0;
    background-color: #024356;
    border-bottom: solid;
    border-bottom-width: 0.01em;
    border-bottom-color: lightgrey;
}

    #topNav i {
        color: white;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 50px;
    }

    #topNav a {
        color: white;
        background-color: transparent;
    }

        #topNav a:hover {
            color: gray;
            background-color: white;
        }

#sideNav {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

    #sideNav a {
        padding-left: 30px;
    }

#gridItem {
    margin: 0;
    margin-top: 14px;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    background-color: rgb(240,240,240);
    width: 100%;
    padding: 15px 20px;
}

/*Notiz einzeln*/
.noteBlock {
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
    border-top: solid;
    border-top-width: 8px;
    border-color: lightgrey;
}

.bottomSection {
    margin-top: 1em;
    padding: 0.8em 0.3em;
    border-top: solid;
    border-top-width: 1px;
    border-color: #ebebeb;
    text-align: right;
}
#right{
    float:right;
}
#left{
    float:left;
}
.textBlock {
    margin-left: 8px;
}

/*Modal*/
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

    .modal-window > div {
        max-width: 500px;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5em;
        background: #ffffff;
        border-radius: 1em;
        border-top: solid;
        border-top-width: 8px;
        border-color: lightgrey;
    }

    .modal-window header {
        font-weight: bold;
    }

    .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    margin-top: -0.5em;
    margin-right: -0.5em;
}

.modal-close:hover {
    color: black;
}



