body{
    margin: 0;
    padding: 0;
}

#topNav {
    height: 60px;
    margin: 0;
    background-color: #024356;
    border-bottom: solid;
    border-bottom-width: 0.01em;
    border-bottom-color: lightgrey;
}

#topNav a{
    color:white;
}
#topNav a:hover{
    color: grey;
    background-color: white;
}

#sideNav {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
}

#sideNav a{
    padding-left: 30px;
}

#gridItem{
    margin:0;
    margin-top: 14px;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    background-color: rgb(240,240,240);
    width: 100%;
    padding: 15px 20px;
}