@model List<Notizen_Projekt.Models.Note>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="sidenav">
        <h5>Tags:</h5>
        @if (ViewBag.AllTags != null)
        {
            foreach (var tag in ViewBag.AllTags)
            {
                <p><i>@tag.Name</i></p>
            }
        }
        else
        {
            <p>Keine Tags vorhanden</p>
        }
    </div>
</body>

