@model List<Notizen_Projekt.Models.Note>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", Arial;
        }

        /* Fixed sidenav, full height */
        .sidenav {
            height: 100%;
            width: 240px;
            position: fixed;
            z-index: 1;
            left: 20px;
            overflow-x: hidden;
            padding-top: 5px;
        }

            /* Style the sidenav links and the dropdown button */
            .sidenav a, .dropdown-btn {
                padding: 10px 8px 6px 16px;
                text-decoration: none;
                font-size: 15px;
                color: black;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }

                /* On mouse-over */
                .sidenav a:hover, .dropdown-btn:hover {
                    color: blue;
                }

        /* Main content */
        .main {
            margin-left: 100px; /* Same as the width of the sidenav */
            font-size: 10px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }
    </style>
</head>
<body>

    

    <div class="sidenav">
        <h5>Tags:</h5>
        @if (ViewBag.AllTags != null)
        {
            foreach (var tag in ViewBag.AllTags)
            {
                <p><i>@tag.Name</i></p>
            }
        }
        else
        {
            <p>Keine Tags vorhanden</p>
        }

    </div>

</body>

