    <i class="large sticky note outline icon"></i>

    <a class="active item" href="#">
        Home
    </a>
    <a class="item" href="#">
        Messages
    </a>
    <a class="item" href="#">
        Friends
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" id="searchForNote" placeholder="Suche..." onkeyup="searchNote()" title="Suche nach Notiz">
                <i class="search link icon"></i>
            </div>
        </div>

        <a class="ui item" href="~/User/Logout">
            Logout
        </a>
    </div>