@model Notizen_Projekt.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm())
{


    <form class="ui form">

            <div class="field">
                <label>E-Mail</label>
                @Html.TextBoxFor(u => u.Username, new { required = "required", type = "email", name = "email", placeholder = "E-Mail" })
            </div>

            <div class="field">
                <label>Passwort</label>
                @Html.TextBoxFor(u => u.Password, new { required = "required", type = "password", name = "password", placeholder = "Passwort", @class = "password" })
            </div>

            <div class="field">
                <label>First Name</label>
                <input type="email" name="email" placeholder="First Name">
            </div>

            <button class="ui button" type="submit">Sign In</button>
        <button class="ui button" type="button">Sign Up</button>

    </form>

    <form class="ui form">
        <div class="field">
            <label>First Name</label>
            <input type="email" name="email" placeholder="First Name">
        </div>
        <div class="field">
            <label>Last Name</label>
            <input type="Password" name="Password" placeholder="Last Name">
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the Terms and Conditions</label>
            </div>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>

}


