@model Notizen_Projekt.Models.User

@{
    ViewBag.Title = "Login";
 }

<h2>Login</h2>

@using (Html.BeginForm())
{
<table>
    <thead>
        <tr>
            <td colspan="2">Login</td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Html.LabelFor(u => u.Username, "Benutzername: ")</td>
            <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(u => u.Password, "Passwort: ")</td>
            <td>@Html.TextBoxFor(u => u.Password, new { required = "required" })</td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Login" id="btnSubmit" />
                <input type="reset" value="Abbrechen" id="btnReset" />
            </td>
        </tr>

    </tbody>
</table>




}


