@model Notizen_Projekt.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div class="boxForm">
        <h2>Sign In</h2>
        <form class="ui form">
            <div class="field">
                <label>E-Mail</label>
                @Html.TextBoxFor(u => u.Email, new { required = "required", type = "email", name = "email", placeholder = "E-Mail" })
            </div>

            <div class="field">
                <label>Passwort</label>
                @Html.TextBoxFor(u => u.Password, new { required = "required", type = "password", name = "password", placeholder = "Passwort", @class = "password" })
            </div>

            <button class="ui button" type="submit">Sign In</button>
            <a href="~/User/Registration" class="ui button" type="button">Sign Up</a>

        </form>
    </div>
   



