@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

<h2>Tschüss, @ViewBag.Name</h2>

<hr />

<div class="ui success message">
    <div class="header">
        Du hast dich erfolgreich ausgelogt!
    </div>
    <p>In kürze wirst du zur Login-Seite weitergeleitet</p>
</div>

