@model List<Notizen_Projekt.Models.Note>

@{
    ViewBag.Title = "Home Page";
}

<div class="ui three column grid">
    @foreach (var note in Model)
    {
        <div class="column">@Html.Partial("Note", note)</div>
    }
</div>