@model List<Notizen_Projekt.Models.Note>

@{
    ViewBag.Title = "Home Page";
}

<!-- Notizen anzeigen lassen -->
<div class="ui three column grid">
    @if (Model != null)
    {
        foreach (var note in Model)
        {
            <div class="column">
                @Html.Partial("Note", note)
            </div>
        }
    }
</div>

<!-- Modals zu jeder Notiz erstellen -->
@if (Model != null)
{
    foreach (var note in Model)
    {
        @Html.Partial("NoteModal", note)
    }
}

<!-- neue Notiz -->
<div id="addNewNote" class="modal-window">
    <div>
        <div class="modal-close" style="margin-bottom: -30px;">
            <button type="button" onclick="window.location.href = '/home/index';" title="Fenster schließen"><i class="close alternate icon"></i></button>
        </div>

        <h1>Neue Notiz erstellen ...</h1>

        <br />

        <form action="/home/index" method="post" class="ui form">
            <!-- Titel -->
            <div class="field">
                <label>Titel:</label>
                <input type="text" name="NoteTitle" rows="1" maxlength="100" placeholder="Titel der Notiz ...">
            </div>
            <!-- Text -->
            <div class="field">
                <label>Text:</label>
                <textarea type="text" required name="NoteText" rows="15" maxlength="1500" placeholder="Text der Notiz ..."></textarea>
            </div>

            <div class="bottomSection">
                <div class="textBlock leftText">
                    <!-- Tags -->
                    <div class="field">
                        <label>Tags:</label>
                        <select name="tags" multiple="" class="ui fluid dropdown" title="Strg halten um somit mehrere Tags auszuwählen" style="height: 70px;">
                            @if (ViewBag.AllTags != null)
                            {
                                foreach (var tag in ViewBag.AllTags)
                                {
                                    <option value="@tag.ID">@tag.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">keine Tags vorhanden ...</option>
                            }
                        </select>
                    </div>
                    <!-- Farbe -->
                    <div class="field">
                        <label>Farbe:</label>
                        <input name="ColourNote" type="color" value="#d3d3d3" />
                    </div>
                </div>
            </div>
            <!-- Bestätigungs Button -->
            <div class="right" style="bottom: 0;">
                <input type="submit" value="Notiz erstellen" class="ui submit button" />
            </div>
        </form>
    </div>
</div>




